header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  color: white;
  top: 0;
  z-index: 10;
}

.logo {
  float: left;
  width: 150px;
  margin-top: 20px;
  margin-left: 50px;
}

.top-wrapper h1 {
  color: white;
  background-color: gray;
  opacity: 0.7;
  font-size: 25px;
  letter-spacing: 8px;
}

.top-wrapper {
  padding: 180px 0 200px 0;
  margin-bottom: 30px;
  background-image: url(ピアサポ２.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.main-wrapper {
  height: 100%;
}

.main-wrapper ul {
  border-bottom: 1px solid #eee;
  padding-left: 35px;
}

.main-wrapper a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  line-height: 2;
}

.mokuji {
  margin-top: 35px;
  margin-left: 60px;
  width: 160px;
  border: 1px solid gray;
}

.main-wrapper h2 {
  margin-left: 25px;
  font-size: 15px;
}

.contents {
  height: 100%;
  text-align: center;
  margin-top: 50px;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

.contents img {
  height: 120px;
  width: 70%;
}

.contents span {
  color: blue;
}

body {
  height: 100%;
  padding-bottom: 80px;
}

.lesson-explain {
  margin: 50px 65px 0 65px;
  text-align: left;
}

.lesson-explain h3,
h5 {
  text-align: center;
}

.conversation {
  margin-bottom: 50px;
}

.grammer spn {
  color: blue;
  padding-bottom: 50px;
}

.outline {
  height: 100%;
  text-align: center;
  padding-top: 45px;
  margin-bottom: 35px;
}

.outline a {
  text-align: center;
  cursor: pointer;
  transition: color 1s;
  text-decoration: none;
  color: black;
  font-size: 3;
  font-weight: bold;
}
.outline a:hover {
  color: blue;
}

.outline a:active {
  color: green;
}

.message-wrapper {
  text-align: center;
  color: blue;
}

footer {
  color: black;
  padding: 30px 0;
  border-top: 1px solid #eee;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(238, 238, 238);
}

@media screen and (max-width: 500px) {
  /* スマホ用のスタイル */
  .message-wrapper h2 {
    font-size: 13px;
  }
}
